* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer, section {
    padding:5%;
    border: 2px solid;
}


img { max-width: 100%; }

[class*=col] {padding:0;}
[class*=grid] {margin:0;}

html {
    scroll-behavior: smooth;
}

section {position:relative;}

.intro {
    text-transform:uppercase;
    background-color: #516F76;
    color:white;
}

.tag {
    border: 1px solid;
    padding:0.2rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3px;
}

/* Re-usable Utiity Classes  */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


.padded    { padding: 5%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }


.padded-t  { padding-top: 5%;     }
.padded-b  { padding-bottom: 5%;  }
.padded-l  { padding-left: 5%;    }
.padded-r  { padding-right: 5%;   }

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0; }

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


.bg-light { background-color: #F2EDE8;  }
.bg-dark     { background-color: #44403C;  }

.light-text { color: white; } 
.featured-text  { color: #44403C; } 


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.capped-width { 
    max-width:1000px;
    margin:auto; }


/*Universal Typography styles*/

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }

body {
    font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

p {
  line-height: 1.4; 
  margin-bottom: 1rem;
}


/* Header & Footer */

header {
    padding:2% 5%;
    }

header nav {
    text-decoration:none;
    text-transform:uppercase;
}


/* Images & Background Images */

.bg-image {
    background-size: cover;
    background-position: center;
}

.square {padding-bottom:100%;}
.portrait {padding-bottom:125%;}
.landscape {padding-bottom: 66%;}
.portrait-tall {padding-bottom:175%;}

.button {
    border: 1px solid grey;
    padding:0.3rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3px;
    color: inherit;
    text-decoration: none;
}