---
layout: default
title: travel posts
category: travel
---

<section>
    {% for post in site.categories [page.category] %}

    <div class="col-4_xs-12 post-item padded-1">
        <div class="bg-image square" style="background-image:url('{{post.featured_image}}')"> </div>
        <div class="padded-t padded-b-1"> 

            {% for item in post.categories %}
            <span class="tag"> {{item}} </span>
            {% endfor %}

            <h2 class="margin-t-1"> {{ post.title }} </h2>
            <p> {{ post.description }}</p>
            <a href="{{post.url}}" class="button"> Read More </a>
        </div>
    </div>

    {% endfor %}
</section>