<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta Data-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">   
    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>

</head>

<body>
    <header class="bg-light padded">
        <nav> 
            <a href="/"> Home</a>
            <a href="/about.html"> About</a>
            <a href="/blog.html"> Blog</a>
        </nav>
    </header>
    
    {{content}}

    <footer class="bg-light padded">
        This is the Footer
    </footer>
    
</body>

</html>